In [1]:
import pandas as pd
import datetime
import statsmodels.api as sm
import os

In [2]:
file_list = []
for i in os.listdir("D:/download/91APP_BehaviorData/"):
    if "2021" in i:
        file_list.append(i)

### 1. 交易頻率

In [18]:
all_y_df = pd.DataFrame()
for f_i, f_e in enumerate(file_list):
    
    # y
    BehaviorData = pd.read_csv("D:/download/91APP_BehaviorData/"+f_e)
    uni_mem_df = BehaviorData.loc[BehaviorData["MemberId"].dropna().index]
    uni_mem_df = uni_mem_df[["MemberId","TotalSalesAmount","UTMSource"]]
    member_id = uni_mem_df["MemberId"].unique()
    buyer_id = uni_mem_df.loc[uni_mem_df["TotalSalesAmount"].dropna().index]["MemberId"].unique()

    choose_id = buyer_id

    y_df = uni_mem_df[["MemberId","TotalSalesAmount"]].groupby("MemberId").size()
    y_df = pd.DataFrame(y_df.loc[choose_id].values, columns=["sale_num"])
    y_df["member_id"] = choose_id
    y_df["month"] = f_i + 1
    
    all_y_df = pd.concat([all_y_df,y_df])

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (8,10,11,13,20,21,22,23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
all_y_df.head()

   sale_num                                     member_id  month
0       122  OALJiAwaPfH556ouk0zHg4WG9psivbzOJWV3wcFj17g=      1
1        98  7txopGdciY8nbASBOLhYUFmiZ9qeMDCznpdWDP0py18=      1
2       151  Yuzh43QOSwpPLj51zssfk5IXkyKyIOR0snnAcAhzhJk=      1
3        10  iRBOrqTIvAGg+0VG6LoZkNL1TFsbGbYl+9L3fAGjP6I=      1
4        28  HXq97wyibnjhOOUXvq7L3V+PeOXvnnLIp/P7iczduYA=      1

In [9]:
all_count_df = pd.read_csv("all_count_df_year.csv")
all_count_df = pd.merge(all_count_df, all_y_df, on=["member_id","month"])

In [75]:
all_count_df.to_csv("all_count_df.csv",index=None)

### 2. 活動頁面次數

In [67]:
all_y_df = pd.DataFrame()
for f_i, f_e in enumerate(file_list):
    
    # y
    BehaviorData = pd.read_csv("D:/download/91APP_BehaviorData/"+f_e)
    uni_mem_df = BehaviorData.loc[BehaviorData["MemberId"].dropna().index]
    uni_mem_df = uni_mem_df[["MemberId","TotalSalesAmount","UTMSource","Behavior"]]
    member_id = uni_mem_df["MemberId"].unique()
    buyer_id = uni_mem_df.loc[uni_mem_df["TotalSalesAmount"].dropna().index]["MemberId"].unique()

    choose_id = buyer_id

    y_df = uni_mem_df[uni_mem_df["Behavior"] == "viewactivity"]
    y_df = y_df[["MemberId","Behavior"]].groupby("MemberId").size()
    y_df = pd.DataFrame(y_df, columns=["activity_num"])
    y_df = y_df.reset_index()
    y_df.columns=["member_id","activity_num"]
    y_df["month"] = f_i + 1
    
    all_y_df = pd.concat([all_y_df,y_df])

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (8,10,11,13,14,15,19,20,21,22,23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (8,10,11,13,20,21,22,23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [70]:
all_activity =  pd.merge(all_count_df, all_y_df, on=["member_id","month"])

In [76]:
all_activity.to_csv("all_activity.csv",index=None)